<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1 v-if='isLogin'>hello</h1>
        <h1 v-else>Login</h1>
        <h1 v-if="age >= 80">80岁以上, 打太极</h1>
        <h1 v-else-if="age >= 60">60岁以上, 广场舞</h1>
        <h1 v-else-if="age >= 20">20岁以上, 蹦迪</h1>
        <h1 v-else>20岁以下, 看动画片</h1>
    </div>


    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: 'hello vue',
                age: 55,
                isLogin: true
            }
        })
    </script>
</body>

</html>